<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administrator</title>
</head>
<body>
    <h1>Admin Panel</h1>
    <button id="activateButton" onclick="activateButton()">Activate Button</button>
    <button id="startButton" onclick="startButton()">Start Button</button>
    <button id="deactivateButton" style="background-color: gray; cursor: not-allowed;" disabled onclick="deactivateButton()">Deactivate Button</button>

    <h2>LockedOut:</h2>
    <ul id="lockedOut"></ul>

    <h2>Click Order:</h2>
    <ul id="clickOrder"></ul>

    <h2></h2>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="/static/script_admin.js"></script>
</body>
</html>
