<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administrator</title>
</head>
<body>
    <h1>Admin Panel</h1>
    <button onclick="activateButton()">Activate Button</button>
    <button onclick="startButton()">Start Button</button>
    <button onclick="resetButton()">Deactivate Button</button>

    <h2>LockedOut:</h2>
    <ul id="lockedOut"></ul>

    <h2>Click Order:</h2>
    <ul id="clickOrder"></ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>
