
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contestant</title>
</head>
<body>
    <h1>Contestant Panel</h1>
    <div id="login">
        <input type="text" id="username" placeholder="Enter your name">



        <p>Select your team:</p>
        <input type="radio" id="red" name="team" value="red">
        <label for="red">Red</label><br>

        <input type="radio" id="blue" name="team" value="blue">
        <label for="blue">Blue</label><br>

        <input type="radio" id="green" name="team" value="green">
        <label for="green">Green</label><br>
        <button onclick="joinGame()">Join Game</button>
    </div>

    <div id="game" style="display:none;">
        <h2 id="status">Waiting for button to be activated...</h2>
        <button id="gameButton" onclick="clickButton()" disabled>Click the Button!</button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="/static/script_cont.js"></script>
</body>
</html>
